*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
site
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
dif_commit.txt
# Installer logs
pip-log.txt
.github/copilot-commit-message-instructions.md
# Unit test / coverage reports
commit-messages
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
